@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-900 text-zinc-100;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto;
  }

  .animate-gradient {
    background-size: 200% auto;
    animation: gradient 4s linear infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}